<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="dor amir">
    <title>Big Data Center</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/theme.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!--<script src="/bower_components/angular-route/angular-route.js"></script>-->

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" charset="utf-8" src="bower_components/angular-contentful/dist/angular-contentful.min.js"></script>

    <script src="js/app.module.js"></script>
    <script src="js/controllers/mainCtrl.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
    <style>
    .homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.video-container .title-container {
    z-index: 1000;
    position: absolute;
    top: 35%;
    width: 100%;
    /*text-align: center;*/
    color: #fff;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
</style>
    <style>
    /*#####################
    Additional Styles (required)
    ######################*/
    .carousel-indicators {
        bottom:-40px;
    	left:0;
    	width:100%;
    	/*background:#ccc;*/
    	padding: 6px 0px;
    	margin-left:0;
    	/*border-top:2px solid #fff;*/
    }
    li a {
    color: white;
}
    .carousel-indicators li {
    	width:12px;
    	height:12px;
    	background:#ccc;
    	border-color:#ccc;

    }
    .carousel-indicators .active {
    	width:14px;
    	height:14px;
    	background:#428bca;
    	border-color:#428bca;
    }
    .carousel-inner .thumbnail {
    	margin-bottom:0;
    	border-bottom-left-radius:0;
    	border-bottom-right-radius:0;
    }
    .carousel-inner .caption {
    	/*background:#ddd;*/
    	padding: 10px;
    }
    </style>
</head>
<body ng-app="mainApp" ng-controller="mainCtrl" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top-main">
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top navbar-fixed-top-main" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="index.html" style="color: #f39c12">
                Big Data center </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">

                <li>
                    <a href="pages.html#/projects">Projects</a>
                </li>
                <li>
                    <a href="pages.html#/people">People</a>
                </li>
                <li>
                    <a href="pages.html#/publications">Publications</a>
                </li>

                <li>
                    <a href="pages.html#/teaching">Teaching</a>
                </li>
                <li>
                    <a href="pages.html#/dmbi">DMBI</a>
                </li>
                <li>
                    <a href="pages.html#/contact">Contact Us</a>
                </li>
                <li>
                    <a href="pages.html#/search"><span class="fa fa-search"></span> </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="assets/Love_Coding/MP4/Love-Coding.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="assets/Love_Coding/WEBM/Love-Coding.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="assets/Love_Coding/Snapshots/Love-Coding.jpg" alt="">
        </div>
        <div class="title-container">
          <div class="headline">
            <header class="intro">
                <div class="intro-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <h1 class="brand-heading"
                                    style="stroke: 1px solid;stroke: black;color: #f39c12;-webkit-text-stroke-width: 1px;-webkit-text-stroke-color: #00212f;margin-bottom: 0px;">
                                    Big Data Center</h1>
                                <p class="intro-text" style="
                margin-bottom: 0px;">
                                    @Ben-Gurion Universty </p>
                                <br><br><br>
                                <a style="color:#f39c12;    border: 2px solid #f39c12;" href="#about"
                                   class="btn btn-circle page-scroll">
                                    <i style="color:#f39c12;" class="fa fa-angle-double-down animated"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
          </div>
        </div>
    </div>
</div>



<!-- About Section -->
<section id="about">
    <div class="container content-section">
        <div class="row">
            <div class="col-lg-8">
                <h2>About us</h2>

                <p ng-bind-html="aboutUs"></p>

            </div>
            <div class="col-lg-4">
              <!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">

      <div class="item " ng-class="{'active': $index == 0}" ng-repeat="enrty in entries | orderBy: '-sys.updatedAt' | limitTo: '7' ">
        <a href="{{enrty.fields.link}}"><img  class="thumbnail" src="http:{{enrty.fields.img.fields.file.url}}" alt="{{enrty.fields.img.fields.title}}"></a>
          <div class="caption">
            <h4>{{enrty.fields.headline}}</h4>
              <p>{{enrty.fields.text}} </p>
          </div>
      </div>

    </div>
     <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="{{$index}}" class="" ng-class="{'active': $index == 0}" ng-repeat="enrty in entries"></li>


      </ol>
</div><!-- End Carousel -->



            </div>

        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
      <div class="row">
        <h2>Projects</h2>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <a href="http://bigdata.ise.bgu.ac.il/sherlock/" target="_blank">
              <img src="img/projects/shelork_proj.png" alt="">
          </a>
        </div>
        <div class="col-lg-9">
          <p>
            To assist security researchers and data scientists alike, the BGU Cyber Security Research Center has performed a multi-year data collection experiment as part of a research project with the Israeli Ministry of Space and Technology. The objective of the data collection experiment is to provide security researchers access to a labeled dataset containing a wide variety of low-privileged monitorable smartphone features that capture both regular usage and cyber-attacks. The dataset, called the “SherLock Dataset” contains billions of data records collected from 50 volunteers over a few years. The labels were created by having the volunteers run applications infected with malware -based on real malwares found in the wild.
            <a href="http://bigdata.ise.bgu.ac.il/sherlock/" target="_blank">
                For more information click here
            </a>
          </p>

        </div>

      </div>
    </div>

    <div  class="clear"></div>

</section>
<footer>
    <div class="container text-center">
        <p class="credits">
            Copyright &copy; Big Data Center 2016<br/>
            <i class="fa fa-code"> </i> with <i class="fa fa-heart"> </i> by Dor Amir
        </p>
    </div>
</footer>
<!-- jQuery -->
<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="js/theme.js"></script>
<script>
  $('#myCarousel').carousel({
      	interval:   4000
  	});
</script>


<script>
  //jQuery is required to run this code
  $( document ).ready(function() {

      scaleVideoContainer();

      initBannerVideoSize('.video-container .poster img');
      initBannerVideoSize('.video-container .filter');
      initBannerVideoSize('.video-container video');

      $(window).on('resize', function() {
          scaleVideoContainer();
          scaleBannerVideoSize('.video-container .poster img');
          scaleBannerVideoSize('.video-container .filter');
          scaleBannerVideoSize('.video-container video');
      });

  });

  function scaleVideoContainer() {

      var height = $(window).height() + 5;
      var unitHeight = parseInt(height) + 'px';
      $('.homepage-hero-module').css('height',unitHeight);

  }

  function initBannerVideoSize(element){

      $(element).each(function(){
          $(this).data('height', $(this).height());
          $(this).data('width', $(this).width());
      });

      scaleBannerVideoSize(element);

  }

  function scaleBannerVideoSize(element){

      var windowWidth = $(window).width(),
      windowHeight = $(window).height() + 5,
      videoWidth,
      videoHeight;

      console.log(windowHeight);

      $(element).each(function(){
          var videoAspectRatio = $(this).data('height')/$(this).data('width');

          $(this).width(windowWidth);

          if(windowWidth < 1000){
              videoHeight = windowHeight;
              videoWidth = videoHeight / videoAspectRatio;
              $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

              $(this).width(videoWidth).height(videoHeight);
          }

          $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

      });
  }

</script>
</body>
</html>
