<style type="text/css">
    p {
        margin-bottom: 15px;
    }

    h3 {
        margin: 15px 0;
    }

    p a {
        /*border-bottom: 1px dashed #ccc;*/
    }
    p a:hover {
        color: #337ab7;
        /*text-decoration: underline;*/
        border-bottom: 1px dashed #ccc;
    }

    .btnghost {
        margin-top: 0;
    }

    .clear {
        margin-top: 120px;
    }

    .rpeople {
        margin-bottom: 50px;
    }

    h3 small {
        text-transform: capitalize;
    }

</style>
<div class="container content-section ">
    <h1>people</h1>
    <hr>

    <div class="row">
        <div class="col-lg-6">
            <h3>
                <a target="_blank" href="http://www.ise.bgu.ac.il/bws/Home">
                    Prof. Bracha Shapira</a>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <a target="_blank" href="http://www.ise.bgu.ac.il/bws/Home">
                <img class="img-responsive" src="img/profile/bracha.jpg"></a>

        </div>
        <div class="col-lg-7">
            <p>
                <a target="_blank" href="www.ise.bgu.ac.il">
                    Department of Software & Information Systems Engineering</a><br>
                <a target="_blank" href="http://in.bgu.ac.il/engn/Pages/default.aspx">
                    Faculty of Engineering Sciences
                </a><br>
                <a target="_blank" href="http://in.bgu.ac.il/Pages/default.aspx">
                    Ben-Gurion University of the Negev</a>

            </p>
            <p>
                bshapira@bgu.ac.il
            </p>

            <p>
                <strong>Phone</strong>: 08-6477551
            </p>
            <p>
                <strong>Research Topics</strong>: Recommender systems, Personalization, Information retrieval, machine learning and its application to cyber security and privacy

            </p>
            <!--<div btf-markdown="aboutKobi">-->

            <br>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://scholar.google.co.il/citations?user=1biUWpIAAAAJ&hl=en&oi=ao" class="btn btnghost btn-lg" target="_blank">
                        <i class="fa fa-2x fa-google"></i>
                        Scholar</a>
                </li>
                <li>

                    <a href="http://dblp.uni-trier.de/pers/hd/s/Shapira:Bracha" class="btn btnghost btn-lg" target="_blank">
                        <i class="fa fa-2x fa-graduation-cap"></i>
                        dblp</a>
                </li>

                <li>

                    <a href="assets/CVs/Bracha_Shapira.pdf" class="btn btnghost btn-lg" target="_blank">
                        <i class="fa fa-2x fa-file-text"></i>
                        CV</a>
                </li>

            </ul>
        </div>

    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-6">
            <h3>
                <a target="_blank" href="http://www.ise.bgu.ac.il/faculty/liorr/index.htm">
                    Prof. Lior Rokach</a>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <a target="_blank" href="http://www.ise.bgu.ac.il/faculty/liorr/index.htm">
                <img class="img-responsive" src="img/profile/liorrok.png"></a>

        </div>
        <div class="col-lg-7">
            <p>
                <a target="_blank" href="www.ise.bgu.ac.il">
                    Department of Software & Information Systems Engineering</a><br>
                <a target="_blank" href="http://in.bgu.ac.il/engn/Pages/default.aspx">
                    Faculty of Engineering Sciences
                </a><br>
                <a target="_blank" href="http://in.bgu.ac.il/Pages/default.aspx">
                    Ben-Gurion University of the Negev</a>

            </p>
            <p>
                liorrk@bgu.ac.il
            </p>
            <p>
                <strong>Phone</strong>: 08-6477551
            </p>
            <p>
                <strong>Research Topics</strong>: Machine Learning and Data Mining, Information Security and Assurance, Information Security and Assurance , Information Sciences

            </p>
            <!--<div btf-markdown="aboutKobi">-->

            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://scholar.google.co.il/citations?user=makfxEUAAAAJ&hl=en&oi=ao" class="btn btnghost btn-lg" target="_blank">
                        <i class="fa fa-2x fa-google"></i>
                        Scholar</a>
                </li>
                <li>

                    <a href="http://dblp.uni-trier.de/pers/hd/r/Rokach:Lior" class="btn btnghost btn-lg" target="_blank">
                        <i class="fa fa-2x fa-graduation-cap"></i>
                        dblp</a>
                </li>
                <li>

                    <a href="assets/CVs/Lior_Rokach.pdf" class="btn btnghost btn-lg" target="_blank">
                        <i class="fa fa-2x fa-file-text"></i>
                        CV</a>
                </li>
            </li>

        </ul>
    </div>

</div>

<br><br>
<div class="row">
    <div class="col-lg-6">
        <h3>
            <a target="_blank" href="#" disabled>
                Dr. Rami Puzis</a>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <a target="_blank" href="#" disabled>
            <img class="img-responsive" src="img/profile/ramip.jpg"></a>

    </div>
    <div class="col-lg-7">
        <p>
            <a target="_blank" href="www.ise.bgu.ac.il">
                Department of Software & Information Systems Engineering</a><br>
            <a target="_blank" href="http://in.bgu.ac.il/engn/Pages/default.aspx">
                Faculty of Engineering Sciences
            </a><br>
            <a target="_blank" href="http://in.bgu.ac.il/Pages/default.aspx">
                Ben-Gurion University of the Negev</a>

        </p>
        <p>
            puzis@bgu.ac.il
        </p>
        <p>
            <strong>Phone</strong>: 08-6477551
        </p>
        <p>
            <strong>Research Topics</strong>:Complex networks analysis and mining, Information Security and Assurance, Artificial Intelligence
        </p>
        <!--<div btf-markdown="aboutKobi">-->

        <br>

        <ul class="list-inline banner-social-buttons">
            <li>
                <a href="https://scholar.google.co.il/citations?user=SfJ_pOYAAAAJ&hl=en&oi=ao" class="btn btnghost btn-lg" target="_blank">
                    <i class="fa fa-2x fa-google"></i>
                    Scholar</a>
            </li>
            <li>

                <a href="http://dblp.uni-trier.de/pers/hd/p/Puzis:Rami" class="btn btnghost btn-lg" target="_blank">
                    <i class="fa fa-2x fa-graduation-cap"></i>
                    dblp</a>
            </li>
            <li>

                <a href="assets/CVs/Puzis.pdf" class="btn btnghost btn-lg" target="_blank">
                    <i class="fa fa-2x fa-file-text"></i>
                    CV</a>
            </li>
        </ul>
    </div>

</div>
<br><br>
<div class="row">
    <div class="col-lg-6">
        <h3>
            <a target="_blank" href="https://sites.google.com/site/robertmoskovitch/">
                Dr. Robert Moskovitch</a>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <a target="_blank" href="https://sites.google.com/site/robertmoskovitch/">
            <img class="img-responsive" src="img/profile/robert.jpg"></a>

    </div>
    <div class="col-lg-7">
        <p>
            <a target="_blank" href="www.ise.bgu.ac.il">
                Department of Software & Information Systems Engineering</a><br>
            <a target="_blank" href="http://in.bgu.ac.il/engn/Pages/default.aspx">
                Faculty of Engineering Sciences
            </a><br>
            <a target="_blank" href="http://in.bgu.ac.il/Pages/default.aspx">
                Ben-Gurion University of the Negev</a>

        </p>
        <p>
            robertmo@bgu.ac.il
        </p>

        <br><br>
        <p>
            <strong>Research Topics</strong>: temporal data mining, data mining, machine learning, information retrieval, biomedical informatics, information security.

        </p>
        <!--<div btf-markdown="aboutKobi">-->

        <br>
        <ul class="list-inline banner-social-buttons">
            <li>
                <a href="https://scholar.google.co.il/citations?user=aYEVCBwAAAAJ&hl=en&oi=ao" class="btn btnghost btn-lg" target="_blank">
                    <i class="fa fa-2x fa-google"></i>
                    Scholar</a>
            </li>
            <li>

                <a href="http://dblp.uni-trier.de/pers/hd/m/Moskovitch:Robert" class="btn btnghost btn-lg" target="_blank">
                    <i class="fa fa-2x fa-graduation-cap"></i>
                    dblp</a>
            </li>

            <li>

                <a href="assets/CVs/RobertMoskovitch.pdf" class="btn btnghost btn-lg" target="_blank">
                    <i class="fa fa-2x fa-file-text"></i>
                    CV</a>
            </li>

        </ul>
    </div>

</div>
<br><br>
<div class="row">
    <div class="col-lg-6">
        <h3>
            <a target="_blank" href="http://www.bgu.ac.il/~shanigu/">
                Dr. Guy Shani</a>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <a target="_blank" href="http://www.bgu.ac.il/~shanigu/">
            <img class="img-responsive" src="img/profile/avatar.jpg"></a>

    </div>
    <div class="col-lg-7">
        <p>
            <a target="_blank" href="www.ise.bgu.ac.il">
                Department of Software & Information Systems Engineering</a><br>
            <a target="_blank" href="http://in.bgu.ac.il/engn/Pages/default.aspx">
                Faculty of Engineering Sciences
            </a><br>
            <a target="_blank" href="http://in.bgu.ac.il/Pages/default.aspx">
                Ben-Gurion University of the Negev</a>

        </p>
        <p>
            shanigu@bgu.ac.il
        </p>

        <p>
            <strong>Phone</strong>: 08-6479332
        </p>
        <p>
            <strong>Research Topics</strong>: Automated Planning, Automated Decision Making, Recommender Systems and Image Analysis for Agricultural Applications.

        </p>
        <!--<div btf-markdown="aboutKobi">-->

        <br>
        <ul class="list-inline banner-social-buttons">
            <li>
                <a href="https://scholar.google.co.il/citations?user=F2JS3YIAAAAJ&hl=en&oi=ao" class="btn btnghost btn-lg" target="_blank">
                    <i class="fa fa-2x fa-google"></i>
                    Scholar</a>
            </li>
            <li>

                <a href="http://dblp.uni-trier.de/pers/hd/s/Shani:Guy" class="btn btnghost btn-lg" target="_blank">
                    <i class="fa fa-2x fa-graduation-cap"></i>
                    dblp</a>
            </li>

            <li>

                <a href="assets/CVs/guyCV.pdf" class="btn btnghost btn-lg" target="_blank">
                    <i class="fa fa-2x fa-file-text"></i>
                    CV</a>
            </li>

        </ul>
    </div>

</div>
<br>
<br>
<hr>
<br>
<br>
<div ng-if="people.PhD.length" class="row">
    <h2 style="text-transform:none;">PhD Students</h2>
    <hr>
</div>
<div class="row rpeople" ng-repeat="peoples in people.PhD |  orderBy : ['-rank','status','firstName','lastName']| chunkBy:3">

    <div class="col-md-4 text-center person" ng-repeat="p in peoples | orderBy:'firstName' | orderBy : '-status'">
        <!--<div class="thumbnail">-->
        <!--<img class="img-responsive" ng-src="{{p.img}}" alt="{{p.firstName}}" title="{{p.firstName}}">-->

        <div class="caption">
            <h3>
                <!--Website Exists-->
                <a ng-if="p.website" href="{{p.website}}">{{p.firstName + " " + p.lastName}}<br></a>
                <!--No Website-->
                <span ng-if="!p.website">{{p.firstName + " " + p.lastName}}<br></span>
                <small>{{p.rank}}</small>
            </h3>
            <!--<p class="about">{{p.about}}</p>-->
            <p class="about">
                <strong>Title:
                </strong>{{p.title}}<br>
                <strong>Status:
                </strong>{{p.status}}</p>

            <ul class="list-inline">
                <!--linkedin-->
                <li ng-if="p.linkedin">
                    <a href="{{p.linkedin}}" target="_blank">
                        <i class="fa fa-2x fa-linkedin-square"></i>
                    </a>
                </li>
                <!--scholar-->
                <li ng-if="p.scholar">
                    <a href="{{p.scholar}}" target="_blank">
                        <i class="fa fa-2x fa-graduation-cap"></i>
                    </a>
                </li>
                <!--github-->
                <li ng-if="p.github">
                    <a href="{{p.github}}" target="_blank">
                        <i class="fa fa-2x fa-github-square"></i>
                    </a>
                </li>
                <!--twitter-->
                <li ng-if="p.twitter">
                    <a href="{{p.twitter}}" target="_blank">
                        <i class="fa fa-2x fa-twitter-square"></i>
                    </a>
                </li>
                <!--facebook-->
                <li ng-if="p.facebook">
                    <a href="{{p.facebook}}" target="_blank">
                        <i class="fa fa-2x fa-facebook-square"></i>
                    </a>
                </li>
                <!--gmail-->
                <li ng-if="p.gmail">
                    <a href="mailto:{{p.gmail}}" target="_blank">
                        <i class="fa fa-2x fa-google-plus-square "></i>
                    </a>
                </li>

            </ul>
        </div>
        <!--</div>-->
    </div>
</div>

<div class="clear"></div>
<div ng-if="people.MSc.length" class="row">
    <h2 style="text-transform:none;">MSc Students</h2>
    <hr>
</div>
<div class="row rpeople" ng-repeat="peoples in people.MSc |  orderBy : ['-rank','status','firstName','lastName']| chunkBy:3">

    <div class="col-md-4 text-center person" ng-repeat="p in peoples | orderBy:'firstName' | orderBy : '-status'">
        <!--<div class="thumbnail">-->
        <!--<img class="img-responsive" ng-src="{{p.img}}" alt="{{p.firstName}}" title="{{p.firstName}}">-->

        <div class="caption">
            <h3>
                <!--Website Exists-->
                <a ng-if="p.website" href="{{p.website}}">{{p.firstName + " " + p.lastName}}<br></a>
                <!--No Website-->
                <span ng-if="!p.website">{{p.firstName + " " + p.lastName}}<br></span>
                <small>{{p.rank}}</small>
            </h3>
            <!--<p class="about">{{p.about}}</p>-->
            <p class="about">
                <strong>Title:
                </strong>{{p.title}}<br>
                <strong>Status:
                </strong>{{p.status}}</p>

            <ul class="list-inline">
                <!--linkedin-->
                <li ng-if="p.linkedin">
                    <a href="{{p.linkedin}}" target="_blank">
                        <i class="fa fa-2x fa-linkedin-square"></i>
                    </a>
                </li>
                <!--scholar-->
                <li ng-if="p.scholar">
                    <a href="{{p.scholar}}" target="_blank">
                        <i class="fa fa-2x fa-graduation-cap"></i>
                    </a>
                </li>
                <!--github-->
                <li ng-if="p.github">
                    <a href="{{p.github}}" target="_blank">
                        <i class="fa fa-2x fa-github-square"></i>
                    </a>
                </li>
                <!--twitter-->
                <li ng-if="p.twitter">
                    <a href="{{p.twitter}}" target="_blank">
                        <i class="fa fa-2x fa-twitter-square"></i>
                    </a>
                </li>
                <!--facebook-->
                <li ng-if="p.facebook">
                    <a href="{{p.facebook}}" target="_blank">
                        <i class="fa fa-2x fa-facebook-square"></i>
                    </a>
                </li>
                <!--gmail-->
                <li ng-if="p.gmail">
                    <a href="mailto:{{p.gmail}}" target="_blank">
                        <i class="fa fa-2x fa-google-plus-square "></i>
                    </a>
                </li>

            </ul>
        </div>
        <!--</div>-->
    </div>
</div>

<div class="clear"></div>
<div ng-if="people.undergraduateStudents.length" class="row">
    <h2>Undergraduate students</h2>
    <hr>
</div>
<div class="row" ng-repeat="peoples in people.undergraduateStudents | orderBy:'firstName' | orderBy : '-rank'| chunkBy:4">

    <div class="col-md-3 text-center person" ng-repeat="p in peoples | orderBy:'firstName' | orderBy : '-rank'">
        <!--<div class="thumbnail">-->
        <a ng-if="p.website" href="{{p.website}}">
            <img class="img-responsive" ng-src="{{p.img}}" alt="{{p.firstName}}" title="{{p.firstName}}">
        </a>
        <img ng-if="!p.website" class="img-responsive" ng-src="{{p.img}}" alt="{{p.firstName}}" title="{{p.firstName}}">

        <div class="caption">
            <h3>
                <!--Website Exists-->
                <a ng-if="p.website" href="{{p.website}}">{{p.firstName + " " + p.lastName}}<br></a>
                <!--No Website-->
                <span ng-if="!p.website">{{p.firstName + " " + p.lastName}}<br></span>
                <small>{{p.rank}}</small>
            </h3>
            <p class="about">{{p.about}}</p>
            <ul class="list-inline">
                <!--linkedin-->
                <li ng-if="p.linkedin">
                    <a href="{{p.linkedin}}" target="_blank">
                        <i class="fa fa-2x fa-linkedin-square"></i>
                    </a>
                </li>
                <!--scholar-->
                <li ng-if="p.scholar">
                    <a href="{{p.scholar}}" target="_blank">
                        <i class="fa fa-2x fa-graduation-cap"></i>
                    </a>
                </li>
                <!--github-->
                <li ng-if="p.github">
                    <a href="{{p.github}}" target="_blank">
                        <i class="fa fa-2x fa-github-square"></i>
                    </a>
                </li>
                <!--twitter-->
                <li ng-if="p.twitter">
                    <a href="{{p.twitter}}" target="_blank">
                        <i class="fa fa-2x fa-twitter-square"></i>
                    </a>
                </li>
                <!--facebook-->
                <li ng-if="p.facebook">
                    <a href="{{p.facebook}}" target="_blank">
                        <i class="fa fa-2x fa-facebook-square"></i>
                    </a>
                </li>
                <!--gmail-->
                <li ng-if="p.gmail">
                    <a href="mailto:{{p.gmail}}" target="_blank">
                        <i class="fa fa-2x fa-google-plus-square "></i>
                    </a>
                </li>

                <!--Thesis-->
                <li ng-if="p.thesis">
                    <a title="Thesis" href="{{p.thesis}}" target="_blank">
                        <i class="fa fa-2x fa-file-text "></i>
                    </a>
                </li>
            </ul>
        </div>
        <!--</div>-->
    </div>
</div>

<div class="clear"></div>
<div ng-if="people.alumni.length" class="row">
    <h2>Alumni</h2>
    <hr>
</div>
<div class="row" ng-repeat="peoples in people.alumni | orderBy:'firstName' | orderBy : '-rank'| chunkBy:4">

    <div class="col-md-3 text-center person" ng-repeat="p in peoples | orderBy:'firstName' | orderBy : '-rank'">
        <!--<div class="thumbnail">-->
        <a ng-if="p.website" href="{{p.website}}">
            <img class="img-responsive" ng-src="{{p.img}}" alt="{{p.firstName}}" title="{{p.firstName}}">
        </a>
        <img ng-if="!p.website" class="img-responsive" ng-src="{{p.img}}" alt="{{p.firstName}}" title="{{p.firstName}}">

        <div class="caption">
            <h3>
                <!--Website Exists-->
                <a ng-if="p.website" href="{{p.website}}">{{p.firstName + " " + p.lastName}}<br></a>
                <!--No Website-->
                <span ng-if="!p.website">{{p.firstName + " " + p.lastName}}<br></span>
                <small>{{p.rank}}</small>
            </h3>

            <p class="about">{{p.about}}</p>

            <ul class="list-inline">
                <!--linkedin-->
                <li ng-if="p.linkedin">
                    <a href="{{p.linkedin}}" target="_blank">
                        <i class="fa fa-2x fa-linkedin-square"></i>
                    </a>
                </li>
                <!--scholar-->
                <li ng-if="p.scholar">
                    <a href="{{p.scholar}}" target="_blank">
                        <i class="fa fa-2x fa-graduation-cap"></i>
                    </a>
                </li>
                <!--github-->
                <li ng-if="p.github">
                    <a href="{{p.github}}" target="_blank">
                        <i class="fa fa-2x fa-github-square"></i>
                    </a>
                </li>
                <!--twitter-->
                <li ng-if="p.twitter">
                    <a href="{{p.twitter}}" target="_blank">
                        <i class="fa fa-2x fa-twitter-square"></i>
                    </a>
                </li>
                <!--facebook-->
                <li ng-if="p.facebook">
                    <a href="{{p.facebook}}" target="_blank">
                        <i class="fa fa-2x fa-facebook-square"></i>
                    </a>
                </li>
                <!--gmail-->
                <li ng-if="p.gmail">
                    <a href="mailto:{{p.gmail}}" target="_blank">
                        <i class="fa fa-2x fa-google-plus-square "></i>
                    </a>
                </li>

                <!--Thesis-->
                <li ng-if="p.thesis">
                    <a title="Thesis" href="{{p.thesis}}" target="_blank">
                        <i class="fa fa-2x fa-file-text "></i>
                    </a>
                </li>
            </ul>
        </div>
        <!--</div>-->
    </div>
</div>
</div>
