<style type="text/css">

</style>
<div ng-controller="searchCtrl" class="container content-section ">
    <h1>Search</h1>
    <hr>

    <div class="container">
        <div class="row">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" ng-model="search_query" ng-change="search(search_query)" class="  search-query form-control input-lg" placeholder="What are you looking for..." />
                                <span class="input-group-btn">
                                    <button ng-click="search(search_query)" class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-12">
            <h3>
                coming soon...
            </h3>
        </div>
    </div> -->
    <div class="container">

    <div ng-show="search_pages.length" class="clear"></div>
    <div ng-show="search_pages.length" class="row">
        <h2>Pages</h2>
        <hr>
        <div class="row "
             ng-repeat="page in search_pages|  orderBy : ['page_name']">
          <a href="pages.html#/{{page.path}}"   <div class="col-lg-12">
               <h3>{{page.page_name}}</h3>
               <p>{{page.description}}<p>
             </div>
           </a>
</div>
    </div>
<div ng-show="search_projects.length" class="clear"></div>
<div class="container">

<div ng-show="search_projects.length" class="row">
<h1>Projects</h1>
<hr>

<div class="row" ng-repeat="project in search_projects |  orderBy : ['-completion_date']">
    <div class=" col-lg-12">
        <h3>{{project.name}}</h3>
    </div>
    <div ng-if="project.people_on_the_project" class=" col-lg-12">
      <p>{{project.people_on_the_project}}<p>
    </div>
    <div ng-if="project.supervisors" class=" col-lg-12">
      <p>Supervisors: <i>{{project.supervisors}}</i><p>
    </div>
    <div ng-if="project.completion_date" class=" col-lg-12">
      <p>Completion Date: <i>{{project.completion_date}}</i><p>
    </div>
</div>
</div>
</div>
    <div ng-show="search_people.length" class="clear"></div>
    <div class="container">

    <div ng-show="search_people.length" class="row">
        <h2>students</h2>
        <hr>
    </div>

    <div class="row rpeople"
         ng-repeat="peoples in search_people|  orderBy : ['-rank','status','firstName','lastName']| chunkBy:3">

        <div class="col-md-4 text-center person"
             ng-repeat="p in peoples | orderBy:'firstName' | orderBy : '-status'">
            <!--<div class="thumbnail">-->
            <!--<img class="img-responsive" ng-src="{{p.img}}" alt="{{p.firstName}}" title="{{p.firstName}}">-->

            <div class="caption">
                <h3>
                    <!--Website Exists-->
                    <a ng-if="p.website" href="{{p.website}}">{{p.firstName + " " + p.lastName}}<br></a>
                    <!--No Website-->
                    <span ng-if="!p.website">{{p.firstName + " " + p.lastName}}<br></span>
                    <small>{{p.rank}}</small>
                </h3>
                <!--<p class="about">{{p.about}}</p>-->
                <p class="about"><strong>Title: </strong>{{p.title}}<br>
                    <strong>Status: </strong>{{p.status}}</p>

                <ul class="list-inline">
                    <!--linkedin-->
                    <li ng-if="p.linkedin"><a href="{{p.linkedin}}" target="_blank"><i
                            class="fa fa-2x fa-linkedin-square"></i></a></li>
                    <!--scholar-->
                    <li ng-if="p.scholar"><a href="{{p.scholar}}" target="_blank"><i
                            class="fa fa-2x fa-graduation-cap"></i></a></li>
                    <!--github-->
                    <li ng-if="p.github"><a href="{{p.github}}" target="_blank"><i
                            class="fa fa-2x fa-github-square"></i></a></li>
                    <!--twitter-->
                    <li ng-if="p.twitter"><a href="{{p.twitter}}" target="_blank"><i
                            class="fa fa-2x fa-twitter-square"></i></a></li>
                    <!--facebook-->
                    <li ng-if="p.facebook"><a href="{{p.facebook}}" target="_blank"><i
                            class="fa fa-2x fa-facebook-square"></i></a></li>
                    <!--gmail-->
                    <li ng-if="p.gmail"><a href="mailto:{{p.gmail}}" target="_blank"><i
                            class="fa fa-2x fa-google-plus-square "></i></a></li>

                </ul>
            </div>
            <!--</div>-->
        </div>
    </div>
  </div>

  <div ng-show="search_publications.length" class="clear"></div>
  <div class="container">

  <div ng-show="search_publications.length" class="row">
  <h1>Publications</h1>
  <hr>

  <div class="row" ng-repeat="publication in search_publications |  orderBy : ['year']">
    <div class="row">
        <div class="col-lg-12">

            <p class="reference">{{publication.authors}}. ({{publication.year}}). <i>{{ publication.name }}</i>,
                {{publication.publish}}</p>
        </div>
        <div class="col-lg-2"></div>

    </div>
    <div class="row">
        <div class="col-sm-4">
           <span ng-if="publication.abstract!='None' && publication.abstract"
            <a ng-click="toggleModal(publication.abstract)" ng-class="{'disabled' :publication.abstract=='None' || !publication.abstract }" herf="#"><span>Abstract</span></a>
          </span>
          <span ng-if="(publication.abstract!='None' && publication.abstract)&&(publication.file!='None' && publication.file)">

            |
</span>                         <span ng-if="publication.file!='None'  && publication.file">

            <a target="_blank" ng-href="{{publication.file}}" ng-class="{'disabled' :publication.file=='None' }"><span>Full Paper</span></a>
</span>
        </div>

    </div>
    <div style="padding-top: 30px;"></div>

    <span ng-bind="item.name"></span>
  </div>
  </div>
  </div>
</div>
    <div class="clear"></div>
    <div style="height: 400px"></div>
</div>
