<style type="text/css">
    p {
        margin-bottom: 15px;
    }

    h3 {
        margin: 15px 0 15px;
    }

    p a {
        /*border-bottom: 1px dashed #ccc;*/
    }

    p a:hover {
        color: #337ab7;
        /*text-decoration: underline;*/
        border-bottom: 1px dashed #ccc;
    }

    .btnghost {
        margin-top: 0px;
    }

    .clear {
        margin-top: 60px;
    }

    .rpeople {
        margin-bottom: 50px;
    }

    h3 small {
        text-transform: capitalize;
    }
    ul.teaching>li{
        font-size: 20px;
    }


    #custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }

    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */

        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }

    .search-query:focus + button {
        z-index: 3;
    }

</style>
<div ng-controller="searchCtrl" class="container content-section ">
    <h1>Search</h1>
    <hr>

    <div class="container">
        <div class="row">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" ng-model="search_query" ng-change="search(search_query)" class="  search-query form-control input-lg" placeholder="What are you looking for..." />
                                <span class="input-group-btn">
                                    <button ng-click="search(search_query)" class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-12">
            <h3>
                coming soon...
            </h3>
        </div>
    </div> -->
    <div class="container">

    <div class="clear"></div>
    <div ng-show="search_pages.length" class="row">
        <h2>Pages</h2>
        <hr>
        <div class="row "
             ng-repeat="page in search_pages|  orderBy : ['page_name']">
          <a href="pages.html#/{{page.path}}"   <div class="col-lg-12">
               <h3>{{page.page_name}}</h3>
               <p>{{page.description}}<p>
             </div>
           </a>
</div>
    </div>

    <div class="clear"></div>
    <div ng-show="search_people.length" class="row">
        <h2>students</h2>
        <hr>
    </div>
    <div class="row rpeople"
         ng-repeat="peoples in search_people|  orderBy : ['-rank','status','firstName','lastName']| chunkBy:3">

        <div class="col-md-4 text-center person"
             ng-repeat="p in peoples | orderBy:'firstName' | orderBy : '-status'">
            <!--<div class="thumbnail">-->
            <!--<img class="img-responsive" ng-src="{{p.img}}" alt="{{p.firstName}}" title="{{p.firstName}}">-->

            <div class="caption">
                <h3>
                    <!--Website Exists-->
                    <a ng-if="p.website" href="{{p.website}}">{{p.firstName + " " + p.lastName}}<br></a>
                    <!--No Website-->
                    <span ng-if="!p.website">{{p.firstName + " " + p.lastName}}<br></span>
                    <small>{{p.rank}}</small>
                </h3>
                <!--<p class="about">{{p.about}}</p>-->
                <p class="about"><strong>Title: </strong>{{p.title}}<br>
                    <strong>Status: </strong>{{p.status}}</p>

                <ul class="list-inline">
                    <!--linkedin-->
                    <li ng-if="p.linkedin"><a href="{{p.linkedin}}" target="_blank"><i
                            class="fa fa-2x fa-linkedin-square"></i></a></li>
                    <!--scholar-->
                    <li ng-if="p.scholar"><a href="{{p.scholar}}" target="_blank"><i
                            class="fa fa-2x fa-graduation-cap"></i></a></li>
                    <!--github-->
                    <li ng-if="p.github"><a href="{{p.github}}" target="_blank"><i
                            class="fa fa-2x fa-github-square"></i></a></li>
                    <!--twitter-->
                    <li ng-if="p.twitter"><a href="{{p.twitter}}" target="_blank"><i
                            class="fa fa-2x fa-twitter-square"></i></a></li>
                    <!--facebook-->
                    <li ng-if="p.facebook"><a href="{{p.facebook}}" target="_blank"><i
                            class="fa fa-2x fa-facebook-square"></i></a></li>
                    <!--gmail-->
                    <li ng-if="p.gmail"><a href="mailto:{{p.gmail}}" target="_blank"><i
                            class="fa fa-2x fa-google-plus-square "></i></a></li>

                </ul>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
    <div class="clear"></div>
    <div style="height: 400px"></div>
</div>
